# First Program

## Sub code

In [1]:
a,b,c = 1,2,3
print(a+b+c)

6

In [5]:
a = 45 
print(type(a))
print(a)

<class 'int'>
45

In [6]:
a = 45.5 
print(type(a))
print(a)

<class 'float'>
45.5

In [8]:
a = 23.55
b = 56 
print(a+b)

79.55

In [21]:
name = "Pakistan"
name1 = "UAF"
name2 = "Hamid"

print(name + " " + name1 + " " + name2)
print(name , name1 , name2)

print(type(name))

Pakistan UAF Hamid
Pakistan UAF Hamid
<class 'str'>

In [33]:
string = 'Pakistan UAF located in Burewala'

print(len(string))
print(string.upper())
print(string.lower())

# string slicing
print(string[::-1])  
print(string[9:12])
print(string[::-2])

32
PAKISTAN UAF LOCATED IN BUREWALA
pakistan uaf located in burewala
alaweruB ni detacol FAU natsikaP
UAF
aaeu idtclFUntia

In [37]:
print('***'+string[1:31:]+"$$$")

***akistan UAF located in Burewal$$$

In [39]:
print(string[::-1])

alaweruB ni detacol FAU natsikaP

In [43]:
name = 'UAF \n'
print(name * 10)

UAF
UAF
UAF
UAF
UAF
UAF
UAF
UAF
UAF
UAF

In [45]:
print('*\n**\n***\n****\n*****')

*
**
***
****
*****

In [49]:
a = int(input("Enter a Number: "))
b = int(input("Enter a Number: "))
print(type(a), type(b))
print(f'Sum = {a+b}')

Enter a Number:  1
Enter a Number:  2

<class 'int'> <class 'int'>
Sum = 3

In [64]:
a = 10
b = 20 
c = 30 
d = 40 
f = 50
print( (a+b) / (c+d) * f )

21.428571428571427

In [61]:
a**2

100

In [63]:
print(pow(5,2))  # Power Method

25

In [65]:
name = "Hamid"
age = 20
print(f'My name is {name} and i am {age} year old!')

My name is Hamid and i am 20 year old!