## Conditional statements (if - elif - else)

In [6]:
# 1
a = 45
if a > 0: 
    print("A is Positive number!")
elif a < 0: 
    print("A is a negitive number!")
else:
    print("A is a Zero")

A is Positive number!

In [18]:
# 2
a = int(input("Enter a Number: "))
if a % 2 == 0:
    if a > 0:
        print("Positive")
    elif a < 0 :
        print("Negitive!")
    else:
        print("It is Zero")
    print("Even!")
else:
    if a > 0:
        print("Positive")
    elif a < 0 :
        print("Negitive!")
    print('Odd!')

Enter a Number:  32

Positive
Even!

### Problem 1:
1. age between 1 to 14 print  child 
2. age between 15 to 24 print student 
3. age between 25 to 100 print employee 
4. Negitive age!!!

In [30]:
age = int(input("Enter Age: "))
if age >= 1 and age <= 14:
    print("Child!")
elif age >= 15 and age <=24:
    print("Student!")
elif age >= 25 and age <= 100:
    print("Employee!")
else:
    print("INVALID AGE!")

Enter Age:  25

Employee!

## Loops

In [31]:
# 1
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [45]:
# 2
a = -19
while a <= 10:
    print(a,end=' ')
    a = a +2

-19 -17 -15 -13 -11 -9 -7 -5 -3 -1 1 3 5 7 9

In [56]:
# 3
n = int(input("Enter a Number for tabel: "))
m = int(input("Enter a Numbe for table range: "))
i = 1
while i <= m:
    print(n," x ",i," = ",n*i)
    i += 1

Enter a Number for tabel:  2
Enter a Numbe for table range:  5

2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10

In [62]:
# 4
i = 1 
while i <= 5:
    j = 0
    while j < i:
        print("*",end="")
        j += 1
    print()
    i += 1

*
**
***
****
*****

In [70]:
# 5
for i in range(1,8,3):
    print(i,end=' ')

1 4 7