# Python Lab <u>'Dictionaries'</u>

1. D = {key : value}
2. Dictionaries are type of Non SQL  datatype
3. function:
    1. update()
    2. pop()
    3. popitem()
    4. keys()
    5. values()

In [1]:
d = {'a':100, 'b':200, 'c':300}
print(type(d))  # print type of d
print(len(d))   # print len of d

<class 'dict'>
3

In [2]:
# print the keys! 
print(d.keys())

dict_keys(['a', 'b', 'c'])

In [3]:
# print the values! 
print(d.values())

dict_values([100, 200, 300])

In [4]:
# print 200 from d
print(d['b'])

200

In [5]:
# 1st Method of replace  c = 300 to -3000 
d['c'] = -3000
print(d)

{'a': 100, 'b': 200, 'c': -3000}

In [6]:
# 2nd Method to replacement 
d.update({'b':50000})
print(d)

{'a': 100, 'b': 50000, 'c': -3000}

In [7]:
# add new key and its value 
d.update({'d':5000})
print(d)

{'a': 100, 'b': 50000, 'c': -3000, 'd': 5000}

In [8]:
# print the length 
print(len(d))

4

In [9]:
# use of pop 
d.pop('c')   # it is must to pass argrment(which is a key)
print(d)

{'a': 100, 'b': 50000, 'd': 5000}

In [10]:
# use of popitem
d.popitem()
print(d)

{'a': 100, 'b': 50000}

In [11]:
# create a dictionary d1
d1 = {'Name' : 'Hamid',
     'age' : 20 ,
     'cgpa' : [2.3,3.4,3.5]}
print(len(d1))

3

In [13]:
# print the cgpa from d1 
print(d1['cgpa'])

[2.3, 3.4, 3.5]

In [14]:
# print cgpa at 1 index 
print(d1['cgpa'][1])

3.4

In [16]:
# print cgpa of last index 
print(d1['cgpa'][-1])

3.5

In [17]:
# add the cgpa 3.8
d1['cgpa'].append(3.8)
print(d1['cgpa'])

[2.3, 3.4, 3.5, 3.8]

In [19]:
# update cgpa at 1 index  as 2.4 
d1['cgpa'][1] = 2.4
print(d1['cgpa'])

[2.3, 2.4, 3.5, 3.8]

In [20]:
# print sum of cgpa and also find its average 
print(sum(d1['cgpa']))
print(sum(d1['cgpa'])/len(d1['cgpa']))

12.0
3.0

In [21]:
# drop/remove  3.5 cgpa 
d1['cgpa'].pop(2)
print(d1['cgpa'])

[2.3, 2.4, 3.8]

In [24]:
d = {'A' : {'S1' : {'Name' : 'Hamid', 'Age' : 20, 'cgpa' : [2.1,3.4,3.5]},
           'S2' : {'Name' : 'Ahmad', 'Age' : 20, 'cgpa' : [3.1,3.4,1.5]}
           },
    'B' : {'S1' : {'Name' : 'Hamid', 'Age' : 20, 'cgpa' : [2.1,3.4,3.5]},
          'S2' : {'Name' : 'Ahmad', 'Age' : 20, 'cgpa' : [3.1,3.4,1.5]}
          }}

In [26]:
# print the last cgpa of B group , S2
print(d['B']['S2']['cgpa'][-1])

1.5

In [28]:
d = {'c1' : 'red',
    'c2' : 'blue',
    'c3' : 'black', 
    'c4' : 'green'}

In [29]:
for k,v in d.items():
    if(len(v)<=4):
        print(v)

red
blue

In [31]:
for k,v in d.items():
    if 'r' in v or 'b' in v:
        print(v)

red
blue
black
green