# <center>ML LAB ASSIGNMENT 3</center>

## Q1: Initialize a list with your first name like
## Ali = [100,-23,33,25,150,90,-71,33,45,33,54,63,69,74,78]
### (i) Extend above list with last four character of AG number like 2020 – AG – 6660So new list will be 
### Ali =[100,-23,33,25,150,90,-71,33,45,33,54,63,69,74,78,6660]
#### Solution:

In [2]:
Hamid = [100,-23,33,25,150,90,-71,33,45,33,54,63,69,74,78]
Hamid.append(7206)
print(Hamid)

[100, -23, 33, 25, 150, 90, -71, 33, 45, 33, 54, 63, 69, 74, 78, 7206]

### (ii) Insert -4500 at index 5
#### Solution:

In [3]:
Hamid.insert(5,-4500)
print(Hamid)

[100, -23, 33, 25, 150, -4500, 90, -71, 33, 45, 33, 54, 63, 69, 74, 78, 7206]

### (iii) insert 56777 at end of list
#### Solution:

In [4]:
Hamid.append(56777)
print(Hamid)

[100, -23, 33, 25, 150, -4500, 90, -71, 33, 45, 33, 54, 63, 69, 74, 78, 7206, 56777]

### (iv) maximum value
#### Solution:

In [5]:
print(f"Maximum Value: {max(Hamid)}")

Maximum Value: 56777

### (v) minimum value 
#### Solution:

In [6]:

print(f"Minimum Value: {min(Hamid)}")

Minimum Value: -4500

### (vi) Put even values in array of even numbers
#### Solution:

In [7]:
even = []
for value in Hamid: 
    if value%2 == 0:
        even.append(value)
print("Even List: ")
print(even)

Even List:
[100, 150, -4500, 90, 54, 74, 78, 7206]

### (vii) Put odd values in array of odd numbers 
#### Solution:

In [8]:
odd = []
for value in Hamid:
    if value%2 != 0: 
        odd.append(value)
print("Odd List: ")
print(odd)

Odd List:
[-23, 33, 25, -71, 33, 45, 33, 63, 69, 56777]

### (viii) Put positive values in array of positive numbers 
#### Solution:

In [9]:
positive = []
for value in Hamid: 
    if value >=0:
        positive.append(value)
print("Positive List: ")
print(positive)

Positive List:
[100, 33, 25, 150, 90, 33, 45, 33, 54, 63, 69, 74, 78, 7206, 56777]

### (ix) Put negative values in array of negative numbers 
#### Solution:

In [10]:
negitive = []
for value in Hamid:
    if value <=0: 
        negitive.append(value)
print("Negitive List: ")
print(negitive)

Negitive List:
[-23, -4500, -71]

### (x) Print sorted list
#### Solution:

In [11]:
sorted_Hamid = sorted(Hamid)
print("Sorted List: ")
print(sorted_Hamid)

Sorted List:
[-4500, -71, -23, 25, 33, 33, 33, 45, 54, 63, 69, 74, 78, 90, 100, 150, 7206, 56777]

### (xi) Print list in ascending order 
#### Solution:

In [12]:
print("Ascending Order: ")
print(sorted_Hamid)

Ascending Order:
[-4500, -71, -23, 25, 33, 33, 33, 45, 54, 63, 69, 74, 78, 90, 100, 150, 7206, 56777]

### (xii) Print list in descending order 
#### Solution:

In [13]:
print('Descendig Order: ')
print(sorted_Hamid[::-1])

Descendig Order:
[56777, 7206, 150, 100, 90, 78, 74, 69, 63, 54, 45, 33, 33, 33, 25, -23, -71, -4500]

### (xiii) Print values those are negative 
#### Solution:

In [14]:
print("Negitive Values: ")
for value in Hamid: 
    if value < 0:
        print(value,end=" ")

Negitive Values:
-23 -4500 -71

### (xiv) Print values those are positive 
#### Solution:

In [15]:
print("Positive Values: ")
for value in Hamid: 
    if value > 0:
        print(value,end=" ")

Positive Values:
100 33 25 150 90 33 45 33 54 63 69 74 78 7206 56777

### (xv) Print multiplier of negative number form list 
#### Solution:

In [16]:
print("Multiplier Negative: ")
mult = 1
for value in Hamid: 
    if value < 0:
        mult *= value
print(mult)

Multiplier Negative:
-7348500

### (xvi) Print multiplier of positive number form list 
#### Solution:

In [17]:
print("Multiplier Positive: ")
mult = 1
for value in Hamid: 
    if value > 0:
        mult *= value
print(mult)

Multiplier Positive:
30255513777752156003810700000000

### (xvii) Take power with last two digit with your AG number and print new list  <u>(7206 take power of each element of array with 06)</u>
#### Solution:

In [18]:
powered_Hamid = [] 
for value in Hamid: 
    powered_Hamid.append(pow(value,6))
print("Powered List: ")
print(powered_Hamid)

Powered List:
[1000000000000, 148035889, 1291467969, 244140625, 11390625000000, 8303765625000000000000, 531441000000, 128100283921, 1291467969, 8303765625, 1291467969, 24794911296, 62523502209, 107918163081, 164206490176, 225199600704, 140012092653183465569856, 33499216413468186213179941489]

### (xviii) Sort and print array in assending order
#### Solution:

In [19]:
print(f"Sorted List: {sorted(Hamid)}")

Sorted List: [-4500, -71, -23, 25, 33, 33, 33, 45, 54, 63, 69, 74, 78, 90, 100, 150, 7206, 56777]

###  (xix) Sort and print array in descending order 
#### Solution:

In [20]:
sorted_Hamid = sorted(Hamid)
print("Sorted List in Descending Order: ")
print(sorted_Hamid[::-1])

Sorted List in Descending Order:
[56777, 7206, 150, 100, 90, 78, 74, 69, 63, 54, 45, 33, 33, 33, 25, -23, -71, -4500]

### (xx) Print numbers which are easily dividable on 5 
#### Solution:

In [21]:
print("Numbers Easily Dividable on 5")
for value in Hamid: 
    if value%5 == 0:
        print(value,end=" ")

Numbers Easily Dividable on 5
100 25 150 -4500 90 45

### (xxi) Remove most repetitive value from list. 
#### Solution:

In [22]:
check = []
for value in Hamid:
    if value not in check:
        check.append(value)
print("List with No Repetation: ")
print(check)

List with No Repetation:
[100, -23, 33, 25, 150, -4500, 90, -71, 45, 54, 63, 69, 74, 78, 7206, 56777]

## Q2: initialize a list which contained 20 types of different fruits and vegetables.

In [22]:
items = ["apple", "banana", "orange", "grape", "mango","carrot", "potato", "tomato", "onion", "cabbage","peach", "plum", "pear", "kiwi", "melon","spinach", "broccoli", "cucumber", "lettuce", "beetroot"]
print("20 Fruits and Vegitables: ")
print(items)

20 Fruits and Vegitables:
['apple', 'banana', 'orange', 'grape', 'mango', 'carrot', 'potato', 'tomato', 'onion', 'cabbage', 'peach', 'plum', 'pear', 'kiwi', 'melon', 'spinach', 'broccoli', 'cucumber', 'lettuce', 'beetroot']

### (i) Print number of characters of each fruit 
#### Solution:

In [23]:
print("Items : Length")
for item in items: 
    print(item," : ",len(item))

Items : Length
apple  :  5
banana  :  6
orange  :  6
grape  :  5
mango  :  5
carrot  :  6
potato  :  6
tomato  :  6
onion  :  5
cabbage  :  7
peach  :  5
plum  :  4
pear  :  4
kiwi  :  4
melon  :  5
spinach  :  7
broccoli  :  8
cucumber  :  8
lettuce  :  7
beetroot  :  8

### (ii) Print those fruits or vegetables which consisted of 4 characters 
#### Solution:

In [24]:
print("Names of Fruits/Vegitables consisted 4 char: ")
for item in items: 
    if len(item) == 4:
        print(item)

Names of Fruits/Vegitables consisted 4 char:
plum
pear
kiwi

### (iii) Print those fruits or vegetables which consisted of greater than 5 characters 
#### Solution:

In [25]:
print("Names of Fruits/Vegitables consisted >5 char: ")
for item in items: 
    if len(item) > 5:
        print(item)

Names of Fruits/Vegitables consisted >5 char:
banana
orange
carrot
potato
tomato
cabbage
spinach
broccoli
cucumber
lettuce
beetroot

### (iv) Print that fruit which contain ‘a’ character 
#### Solution:

In [26]:
print("Fruits/Vegitables Containg 'a': ")
for item in items:
    if 'a' in item:
        print(item)

Fruits/Vegitables Containg 'a':
apple
banana
orange
grape
mango
carrot
potato
tomato
cabbage
peach
pear
spinach

### (v) Print sorted list 
#### Solution:

In [27]:
print(f"Sorted List: {sorted(items)}")

Sorted List: ['apple', 'banana', 'beetroot', 'broccoli', 'cabbage', 'carrot', 'cucumber', 'grape', 'kiwi', 'lettuce', 'mango', 'melon', 'onion', 'orange', 'peach', 'pear', 'plum', 'potato', 'spinach', 'tomato']

### (vi) Print that fruit which has even number of characters 
#### Solution:

In [28]:
print("Fruits having Even Number of Char: ")
for item in items: 
    if len(item)%2 == 0: 
        print(item," : ",len(item))

Fruits having Even Number of Char:
banana  :  6
orange  :  6
carrot  :  6
potato  :  6
tomato  :  6
plum  :  4
pear  :  4
kiwi  :  4
broccoli  :  8
cucumber  :  8
beetroot  :  8

## Q3: Manipulate your AG number on following way with use array.

### (i) Insert your ag number charter by character in list 2020-ag-6660 
#### Solution:

In [29]:
ag = input("Enter your Ag Number: ")
my_list = []
for ch in ag:
    my_list.append(ch) 
print(f"Ag Number: {my_list}")

Enter your Ag Number:  2020-ag-6660

Ag Number: ['2', '0', '2', '0', '-', 'a', 'g', '-', '6', '6', '6', '0']

### (ii) Replace 2020 to 2030 
### Solution:

In [30]:
print("Replaced 2020 to 2030: ")
my_list[2] = '3'
print(my_list)

Replaced 2020 to 2030:
['2', '0', '3', '0', '-', 'a', 'g', '-', '6', '6', '6', '0']

### (iii) Replace last 4 digits with **** 
#### Solution:

In [31]:
my_list = my_list[:len(my_list)-4]+["*","*","*","*"]
print(my_list)

['2', '0', '3', '0', '-', 'a', 'g', '-', '*', '*', '*', '*']

### (iv) Print ag number such a way @2020*-*ag*-*6660@
#### Solution:

In [32]:
my_list = ['@']+my_list[:2]+['2','0']+['*']+[my_list[4]]+['*']+my_list[5:7]+['*']+[my_list[7]]+['*']+['6','6','6','0']+['@']
for letter in my_list:
    print(letter,end="")

@2020*-*ag*-*6660@